<div class="container">
  <div class="headline-container">
    <h1 class="headline">Great choice!</h1>
  </div>
  <div class="subline">Here you can stream ...</div>

  <div class="button-position">
    <%= button_to "Streaming1", "https://www.lewagon.com/de", method: :get, class: "button-streaming" %>
  </div>

  <div class="button-position">
    <%= button_to "Streaming2", "https://www.lewagon.com/de", method: :get, class: "button-streaming" %>
  </div>

  <div class="button-position">
    <%= button_to "Streaming3", "https://www.lewagon.com/de", method: :get, class: "button-streaming" %>
  </div>
  <br>
  <div class="subline">Enjoy your <%= @content_format %>  ! </div>

</div>
