  .poster-container {
    position: relative;
    width: 200px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    perspective: 1000px;
  }

  .poster-container div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1.0s;
  }

.back {
    background-color: #BCC03F;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    height: 100%; /* Ensure the parent has a defined height */
  }

  .back p {
    color: #2F2C86;
    text-align: center;
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
  }

  .flip-icon {
    position: absolute;
    bottom: 20px; /* Adjust based on desired distance from the top */
    right: 20px; /* Adjust based on desired distance from the right */
    width: 50px !important; /* Adjust based on your icon's size */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* This ensures the icon is above other positioned elements in .poster-container */
    /* Further style your icon as needed */
  }


  .poster-container .back {
    transform: rotateY(180deg);
  }

  .poster-container.flip .front {
    transform: rotateY(180deg);
  }

  .poster-container.flip .back {
    transform: rotateY(0deg);
  }

  @media (max-width: 768px) {
    .back p {
      font-size: 0.8em;
    }
    .flip-icon {
      width: 30px !important;
    }
  }
