// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$body-font-weight: 300;
$body-font-size: 1.0em;
$headers-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font-weight: 700;


.headline {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 3.0em;
}

.subline {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 2.0em;
  color: white;
  text-decoration: none;
  text-align: center ;
}

.profile-subline {
  font-family: $headers-font;
  font-weight: 500;
  font-size: 2.0em;
  color: white;
  text-decoration: none;
  text-align: center ;
  padding-bottom: 20px;
}

.card-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0; /* Adjust as needed, assuming you want to remove the bottom margin */
  flex-grow: 1; /* Allows the title to take up the available space */
  text-align: left; /* Aligns the text to the left */
}

a {
  text-decoration: none !important;
}

#content-title {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 3.0em;
  color: white;
  text-decoration: none;
  text-align: left;
  margin-left: 10px; /* Ensure no additional left margin */
  padding-left: 0; /* Ensure no additional left padding */
  margin-top: 15px;;
}

#released {
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  text-align: left;
  margin-left: 10px; /* Ensure no additional left margin */
  padding-left: 0; /* Ensure no additional left padding */
}

.form-text {
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: 1.0em;
  color: white !important;
  text-decoration: none;
  text-align: left;
}

@media (max-width: 768px) {
.headline {
  font-size: 2.0em;
}
.subline {
  font-size: 1.5em;
}

.card-title {
  font-size: 2.0em;
}

.profile-subline {
  font-size: 1.5em;
}

#content-title {
  font-size: 1.5em;
}

#released {
  font-size: 0.8em;
}
}
