// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$body-font-weight: 300;
$body-font-size: 1.0em;
$headers-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font-weight: 700;


.headline {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 2.8em;
}

.subline {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 2.0em;
  color: white;
  text-decoration: none;
  text-align: center ;
}

.profile-subline {
  font-family: $headers-font;
  font-weight: 500;
  font-size: 2.0em;
  color: white;
  text-decoration: none;
  text-align: center ;
  padding-bottom: 20px;
}

.profile-subline a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.card-title {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0; /* Adjust as needed, assuming you want to remove the bottom margin */
  flex-grow: 1; /* Allows the title to take up the available space */
  text-align: center;
}

a {
  text-decoration: none !important;
}

#content-title {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 2.0em; /* Adjust based on container width */
  color: white;
  text-decoration: none;
  text-align: center;
  padding-left: 0; /* Ensure no additional left padding */
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%; /* Adjust based on the expected container size */
  line-height: 1.2; /* Adjust to manage the space between lines */
  height: calc(2 * 1.2em); /* Adjust based on line-height to approximate two lines */
}


#released {
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 20px
}

.form-text {
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: 1.0em;
  color: white !important;
  text-decoration: none;
  text-align: left;
}

@media (max-width: 768px) {
.headline {
  font-size: 2.0em;
}
.subline {
  font-size: 1.5em;
}

.card-title {
  font-size: 1.0em;
}

.profile-subline {
  font-size: 1.5em;
}

#content-title {
  font-size: 1.4em;
}

#released {
  font-size: 0.8em;
}
}
