// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$body-font-weight: 300;
$body-font-size: 1.0em;
$headers-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font-weight: 700;

.headline {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 3.0em;
}

.subline {
  font-family: $headers-font;
  font-weight: $headers-font-weight;
  font-size: 2.0em;
  color: white;
  text-decoration: none;
  text-align: center ;
}

a {
  text-decoration: none !important;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
