.bookmark-button {
  background: none; /* Removes the default background */
  border: none; /* Removes the border */
  outline: none; /* Removes the outline to prevent focus highlighting */
  padding: 0; /* Resets padding */
  cursor: pointer; /* Ensures it still looks clickable */
  width: auto; /* Ensures the button size fits its content */
  height: auto; /* Ensures the button size fits its content */
}

/* Ensuring the icon styling does not conflict */
.icon {
  width: 45%; /* Adjust based on parent container size or screen width */
  height: auto; /* Maintains aspect ratio */
  padding: 1em; /* Makes padding responsive */
}

.interaction-icon {
  cursor: pointer;
  width: 50%; /* Increase the width as needed */
  height: auto; /* Maintain the aspect ratio */
  /* Optionally, you can add some margin if they seem too close to each other or to the text */
  margin: 10 5px; /* Adjust the margin as needed */
  padding-top: 5px;

}

.cards-icon {
  cursor: pointer;
  width: 50px; /* Increase the width as needed */
  height: auto; /* Maintain the aspect ratio */
  /* Optionally, you can add some margin if they seem too close to each other or to the text */
  margin: 10 5px; /* Adjust the margin as needed */

}

@media (max-width: 768px) {
  .interaction-icon {
    width: 60%; /* Adjust for smaller screens */
  }

  .icon {
    width: 60%;
  }
}
