/* Specific CSS for your home-page */
body {
  display: flex;
  flex-direction: column;
  background-color: #433FC0;
  color: white;
  align-items: center; /* Center children horizontally */
}

.container {
  margin-top: 47px; /* This should be equal to or greater than the navbar's height */
  width: 80%; /* Adjust width to manage container size */
  max-width: 1200px; /* Set a max-width to control the maximum size */
  padding: 20px;
  display: flex; /* Enables flexbox properties for centering */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children (like .content-wrapper) horizontally */
}

.headline-container h1 {
  text-align: center;
  padding: calc(10px + 2vw); /* Responsive padding */
  margin: 0 0 20px 0; /* Space below the headline */
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns of equal width */
  gap: 20px; /* Adjust the space between grid items */
}

.icon-item {
  text-align: center; /* Center-align the content */
}

.content-container {
  padding-top: calc(10px + 2vw);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the children */
  justify-content: center;
  gap: 5px; /* Adjust the space between the children */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; /* Take full width of its parent to align children properly */
  align-items: center; /* Center-align the children */
}

.poster-container {
  display: flex;
  max-width: 100%; /* Ensures it does not overflow the screen width */
  width: 30vw;
  height: auto; /* Adjust height automatically based on the aspect ratio of the content */
  aspect-ratio: 3 / 4; /* Maintain aspect ratio */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #BCC03F;
  overflow: hidden;
}

.poster-container img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .navbar {
    height: 50px; /* Adjusted height for smaller screens */
  }

  .container {
    margin-top: 50px; /* Match the adjusted navbar height */
  }

  .content-container {
    padding-top: 0px;
  }

  .poster-container {
    width: 75vw !important; /* Adjust width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

}

/* Media query for desktop screens larger than 768px */
@media (min-width: 768px) {
  .poster-container {
    width: 22vw; /* Reduce the width for desktop screens */
    max-width: 500px; /* Lower the max-width to limit its size on very large screens */
    height: auto; /* Ensure the height adjusts based on the width to maintain aspect ratio */
  }
}
