<h1>content choice</h1>

<%= link_to moods_path(movies: true) do %>
  <%= image_tag("movie.svg", alt: "Movies", class: "content-icon") %>
<% end %>

<%= link_to moods_path(movies: false) do %>
  <%= image_tag("tv.svg", alt: "TV Shows", class: "content-icon") %>
<% end %>
