<div class="container">
  <div class="headline-container">
    <h1 class="headline">Let’s get started! What will it be?</h1>
  </div>
  <div class="icons-container">
    <%= link_to moods_path(movies: true) do %>
      <div class="icon-item">
        <%= image_tag("movie.svg", alt: "Movies", class: "icon") %>
        <div class="subline">Movies</div>
      </div>
    <% end %>
    <%= link_to moods_path(movies: false) do %>
      <div class="icon-item">
        <%= image_tag("tv.svg", alt: "TV Shows", class: "icon") %>
        <div class="subline">TV Shows</div>
      </div>
    <% end %>
  </div>
</div>
