<h1>content choice</h1>

<%= link_to moods_path(content: :movie) do %>
  <%= image_tag("movies_icon.png", alt: "Movies") %>
<% end %>

<%= link_to moods_path(content: :tv) do %>
  <%= image_tag("tvshow_icon.png", alt: "TV Shows") %>
<% end %>


