<div class="container" style="text-align: center;">
  <%= link_to contentchoice_path, id: "discard" do %>
    <%= image_tag "logo.svg", alt: "Discard", class: "logo logo-effect" %>
  <% end %>
  <div class="logo-name">
    Binge Pilot
  </div>
</div>



<script>
document.addEventListener('DOMContentLoaded', (event) => {
  setTimeout(() => {
    document.querySelector('.logo-name').classList.add('visible');
  }, 500); // 500ms delay
});


  setTimeout(function() {
    window.location.href = '<%= contentchoice_path %>';
  }, 2500); // Redirect after 2.7 seconds
</script>
