<div class="container">
  <div class="headline-container">
    <h1 class="headline">Pick your vibe...</h1>
  </div>
  <div class="icons-container">
    <% ['happy', 'dramatic', 'thrilling', 'random'].each do |mood| %>
      <%= link_to bookmarks_path(content: params[:content], mood: mood) do %>
        <div class="icon-item">
          <%= image_tag("#{mood}.svg", alt: "#{mood.capitalize}", class: "interaction-icon") %>
          <div class="subline"><%= mood.capitalize %></div>
        </div>
      <% end %>
    <% end %>
  </div>
