.button-position {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-streaming {
  width: 400px;
  height: 50px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  font-weight: bold;
  cursor: pointer; /* Make the mouse cursor change to a pointer to indicate it's clickable */
  }

.button-profile {
  width: 500px;
  height: 50px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  font-weight: bold;
}

.button-profile-settings {
  width: 500px;
  height: 50px;
  background-color: #843FC0;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  font-weight: bold;
}


.button-update {
  background-color: #843FC0;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}


.button-delete {
  background-color: #3F7CC0;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.button-logout {
  background-color: #2F2C86;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}


.button-change-password {
  background-color: #939398;
  color: rgb(0, 0, 0);
  // padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 35px ;
}

.button-login, .button-signup {
  background-color: #843FC0;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.button-signup-element {
  background-color: #3f6ac0;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: auto;
}

.button-login:hover, .button-signup:hover, .button-update:hover {
  background-color: #BCC03F;
  color: white;
}

.button-profile:hover, .button-streaming:hover {
  background-color: #843FC0;
  color: rgb(255, 255, 255);
}

.button-profile-settings:hover {
  background-color: #592884;
  color: rgb(255, 255, 255);
}

.button-delete:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

.button-logout:hover, .button-change-password:hover {
  background-color: #2F2C86;
  color: rgb(255, 255, 255);
}

.account-available {
  padding-top: 5px;
  font-size: 0.8em;
  color: white;
  text-align: left;
}

@media (max-width: 768px) {
  .button-profile {
    width: 300px;

  }

  .button-profile-settings {
    width: 300px;

  }
}
