.navbar {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 10px;
  overflow: visible; /* Ensure that overflow is visible */
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000; /* Keeps navbar above other content */
  background-color: #2F2C86;
}

.navbar-icon {
  height: 60px;
  width: auto;
  padding: 10px;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
}

.navbar-content {
  vertical-align: top;
  text-indent: 10px;
  text-align: center;
}

.overlapping-icon {
  position: absolute;
  bottom: 8px; // Adjust this value to control the vertical overlap
  height: 55px;
  left: 50%; // Positions the left edge of the icon at the center of its container
  transform: translateX(-50%); // Centers the icon based on its own width
  z-index: 1100;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-content {
    margin-top: 10px;
  }

  .navbar-content a img {
    height: 20px;
    width: auto;
  }

  .container-navbar {
    width: 100%;
  }

  .navbar-icon {
    height: 50px;
    width: auto;
    padding: 10px;
  }

  .overlapping-icon {
    height: 35px;
    bottom: 8px; /* Adjust this value to control the overlap */
  }
}
