.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 100px;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  vertical-align: middle;
  background-color: #2F2C86;
}

.navbar-content {
  vertical-align: middle;
  text-indent: 10px;
  text-align: center;
}

/* Base styles for the brand logo */
.brand-logo {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline from h5 when inside a tag */
}

.brand-logo h5 {
  margin-left: 10px; /* Adjust based on your design */
  color: #000; /* Adjust based on your design */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-content {
    margin-top: 10px; /* Add some space between logo and menu items */
  }

  .brand-logo h5 {
    display: none;
  }


  .navbar-content a img {
    height: 50px; /* Adjust size as needed */
    width: auto; /* Maintain aspect ratio */
  }

  /* If you have a specific class for the main logo, adjust as well */
  .brand-logo img {
    height: 25px; /* Adjust size as needed */
    width: auto; /* Maintain aspect ratio */
  }
}
